USE [master]
GO
/****** Object:  Database [Casino]    Script Date: 10/5/2020 23:02:35 ******/
CREATE DATABASE [Casino] 
GO
USE [Casino]
GO
/****** Object:  Table [dbo].[Apuesta]    Script Date: 10/5/2020 23:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Apuesta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClienteId] [int] NULL,
	[RuletaId] [int] NULL,
	[Color] [tinyint] NOT NULL,
	[Numero] [tinyint] NOT NULL,
	[Valor] [money] NULL,
	[Fecha] [date] NOT NULL,
 CONSTRAINT [PK_Apuesta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 10/5/2020 23:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [varchar](30) NULL,
	[Apellidos] [varchar](40) NULL,
	[Saldo] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ruleta]    Script Date: 10/5/2020 23:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ruleta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_Ruletas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Apuesta]  WITH CHECK ADD  CONSTRAINT [FK_Apuesta_ClienteId] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Cliente] ([Id])
GO
ALTER TABLE [dbo].[Apuesta] CHECK CONSTRAINT [FK_Apuesta_ClienteId]
GO
ALTER TABLE [dbo].[Apuesta]  WITH CHECK ADD  CONSTRAINT [FK_Apuesta_RuletaId] FOREIGN KEY([RuletaId])
REFERENCES [dbo].[Ruleta] ([Id])
GO
ALTER TABLE [dbo].[Apuesta] CHECK CONSTRAINT [FK_Apuesta_RuletaId]
GO
USE [master]
GO
